global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend write_frontend
    bind *:3310
    default_backend master_backend

frontend read_frontend
    bind *:3311
    default_backend slave_backend

backend master_backend
    balance first
    server master mysql_master:3306 check

backend slave_backend
    balance roundrobin
    server slave1 mysql_slave1:3306 check
    server slave2 mysql_slave2:3306 check
    server slave3 mysql_slave3:3306 check